SwHw_HARD.cache
SwHw_HARD.runs
SwHw_HARD.srcs/*/bd/*/ip
SwHw_HARD.srcs/*/bd/*/ipshared
SwHw_HARD.ip_user_files
SwHw_HARD.sdk/*/Debug
SwHw_HARD.sdk/*/Release
SwHw_HARD.sdk/*_bsp/ps*_cortexa9_*
SwHw_HARD.sdk/.metadata/.plugins/org.eclipse.cdt.core
webtalk
SwHw_HARD.tmp
SwHw_HARD.sim
*.jou
*.log
vivado_pid*
.Xil
Packages
